<!doctype html>
<html>

<head>
    <title>Soma Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="Start using SomaLab now." />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <!-- Main css -->
    <link href="../static/questions/css/questions.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="root">
        <div class="_secer2">
            <div class="_1rz8ixqx">
                <div class="_197pih1"><span></span>
                    <div data-test="headermobile" class="_zsli32">
                        <div class="_1r9o1wh">
                            <div role="button" tabindex="-1" class="_dahyzd"><svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="_13gjrqj">
                                    <g>
                                        <line x1="3" y1="12" x2="21" y2="12"></line>
                                        <line x1="3" y1="6" x2="21" y2="6"></line>
                                        <line x1="3" y1="18" x2="21" y2="18"></line>
                                    </g>
                                </svg></div>
                            <div class="_4uqgnwo">
                                <a class="_19oo27hk" href="../index.html">
                                    <h1 class="_bf464ah"><span class="_1yvuev8f">M-Soma Lab</span></h1>
                                </a>
                            </div>
                            <div class="_pw9yzq">
                                <div class="_1yfpgmz"><a class="_1vatlg2i"href=""><span class="_unkj9rz">Projects</span></a></div>
                                <div class="_1yfpgmz"><a class="_1vatlg2i"href=""><span class="_unkj9rz">Projects</span></a></div>
                                <div class="_1yfpgmz"><a class="_1vatlg2i"href=""><span class="_unkj9rz">Projects</span></a></div>
                            </div>
                            <div class="_197pih1">
                                <div class="_m4mqfq8">
                                    <div class="_sy6x3gm">
                                        <div class="_1sn6377u">
                                            <div class="_1iwry0dy" aria-label=""><input placeholder="Search..." class="_1j1bywyx">
                                                <div class="_jsgxo3b"><svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="_13gjrqj">
                                                        <g>
                                                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                                                            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                                                        </g>
                                                    </svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_jbtx1a8"><svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="_13gjrqj">
                                        <g>
                                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                                            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                                        </g>
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_197pih1"><span></span>
                    <div data-test="headerdesktop" class="_k9gyjmg">
                        <div class="_1r9o1wh">
                            <div class="_4uqgnwo">
                                <a class="_19oo27hk" href="../index.html">
                                    <h1 class="_bf464ah"><span class="_pgthr0f">M-Soma Lab</span></h1>
                                </a>
                            </div>
                            <div class="_pw9yzq">
                                <div class="_1yfpgmz"><a class="_1vatlg2i" href=""><span class="_unkj9rz">Projects</span></a></div>
                                <div class="_1yfpgmz"><a class="_1vatlg2i" href=""><span class="_unkj9rz">Projects</span></a></div>
                                <div class="_1yfpgmz"><a class="_1vatlg2i" href=""><span class="_unkj9rz">Projects</span></a></div>
                            </div>
                            <div class="_197pih1">
                                <div class="_m4mqfq8">
                                    <div class="_sy6x3gm">
                                        <div class="_1sn6377u">
                                            <div class="_1iwry0dy" aria-label=""><input placeholder="Search..." class="_1j1bywyx">
                                                <div class="_jsgxo3b"><svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="_13gjrqj">
                                                        <g>
                                                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                                                            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                                                        </g>
                                                    </svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_jbtx1a8"><svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="_13gjrqj">
                                        <g>
                                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                                            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                                        </g>
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_6h00ax">
                    <div class="_1txqudd9">
                        <div class="_h3nyq5">
                            <div role="presentation" class="_lxdtjg2"></div>
                            <div class="_l469m9t">
                                <div class="_vvk9t95">
                                    <div class="_g66pp6f">
                                        <div style="top: 0px; width: 297px; left: auto; max-height: 719px; position: relative; z-index: 1;" class="_1t6cbs3">
                                            <div class="_ef5cl00">
                                                <div data-scrollable="true" class="_sumg1nc">
                                                    <div class="_11d7yfm7">
                                                        <div role="button" tabindex="-1" class="_1g8k7vl2"><svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="_13gjrqj">
                                                                <g>
                                                                    <line x1="19" y1="12" x2="5" y2="12"></line>
                                                                    <polyline points="12 19 5 12 12 5"></polyline>
                                                                </g>
                                                            </svg></div>
                                                    </div>
                                                    <div class="_cifjr1">
                                                        <div>
                                                            <div class="_197pih1">
                                                                <div class="_hnaeki0">
                                                                    <div class="_1kea1wpt"><a class="_f1b38kq" href="/"><span class="_ib3ozv4">What is GitBook</span></a></div>
                                                                </div>
                                                                <div class="_hnaeki0">
                                                                    <div class="_1kea1wpt"><a class="_f1b38kq" href="/"><span class="_ib3ozv4">What is GitBook</span></a></div>
                                                                </div>
                                                                <div class="_hnaeki0">
                                                                    <div class="_1kea1wpt"><a class="_f1b38kq" href="/"><span class="_ib3ozv4">What is GitBook</span></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_1jz9pg86">
                                <div class="_naevm3">
                                    <div class="_xu68iug">
                                        <div class="_b2e3ero">
                                            <div class="_5vxrtmk">
                                                <div class="_1u8jwdm2">
                                                    <div class="_1mfk22u8">
                                                        <div class="_p1dtod5"><h1 class="_wjlth5"><span class="_z8oeruf">Rich Content</span></h1>
                                                        </div>
                                                        <div class="_ytwsykv"></div>
                                                    </div>
                                                    <div class="_pkbwydl">
                                                        <p class="_2z5hbg"><span class="_2he8v2h">On the Web, we've become accustomed to content that goes beyond text. GitBook lets you add semantics and interaction to your content.</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="_1shwqdkd">
                                                <div class="_7jhkecu">
                                                    <div class="_19likvf">
                                                        <div class="_17i7q5r"><span class="_qdzd3it">Contents</span>
                                                        </div>
                                                        <ul class="_bn6rd2">
                                                            <li class="_18jxw27" ><a class="_opia7p6" href="#"><span class="_lbfhuwf">Callouts</span></a></li>
                                                            <li class="_18jxw27" ><a class="_opia7p6" href="#"><span class="_lbfhuwf">Callouts</span></a></li>
                                                            <li class="_18jxw27" ><a class="_opia7p6" href="#"><span class="_lbfhuwf">Callouts</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_15pvv0lq"></div>
                                        <div class="_1llvwxx">
                                            <div class="_1u3clsji">
                                                <div >
                                                    <div class="_m52e7xx">
                                                        <div class="_1jvp5hdv">
                                                            <div class="_1ergp6u6">
                                                                <div class="_cnovfic">
                                                                    <div role="button" tabindex="0" class="_jy5vghb">
                                                                        <div class="_8trjhhd"></div>
                                                                        <div class="_p93hxxb">
                                                                            <div class="_dj7stbc">Windows</div>
                                                                        </div>
                                                                        <div class="_8trjhhd"></div>
                                                                    </div>
                                                                    <div role="button" tabindex="0" class="_1ss2d548">
                                                                        <div class="_8trjhhd"></div>
                                                                        <div class="_p93hxxb">
                                                                            <div class="_dj7stbc">OSX</div>
                                                                        </div>
                                                                        <div class="_8trjhhd"></div>
                                                                    </div>
                                                                    <div role="button" tabindex="0" class="_1ss2d548">
                                                                        <div class="_8trjhhd"></div>
                                                                        <div class="_p93hxxb">
                                                                            <div class="_dj7stbc">Linux</div>
                                                                        </div>
                                                                        <div class="_8trjhhd"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="_gb3b072" data-key="e276955c874b44ebab9943530d622326">
                                                        <div>
                                                            <h2 id="your-ip" class="_ppo6vd" ><div class="_1ty1ph2"><span >Your IP</span></div></h2>
                                                            <div class="_xvylja">
                                                                <div class="_11c9pem">https://api.ipify.org</div>
                                                                <div class="_3goane">/</div>
                                                            </div>
                                                        </div>
                                                        <div class="_fdb5hx" ><span >A very simple API to get your IP address</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_19vzoehz">
                                        <div class="_197pih1">
                                            <div style="padding-bottom: 0px;"></div>
                                            <div class="_10qmvhe" style="top: 0px; left: auto; position: relative; z-index: 1; width: 224px; max-height: 655px;">
                                                <div class="_7jhkecu">
                                                    <div class="_19likvf">
                                                        <div class="_17i7q5r"><span class="_qdzd3it"><span>Contents</span></span></div>
                                                        <ul class="_bn6rd2">
                                                            <li class="_18jxw27" style=""><a class="_opia7p6" href=""><span class="_lbfhuwf">Callouts</span></a></li>
                                                            <li class="_18jxw27" style=""><a class="_opia7p6" href=""><span class="_lbfhuwf">Callouts</span></a></li>
                                                            <li class="_18jxw27" style=""><a class="_opia7p6" href=""><span class="_lbfhuwf">Callouts</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>