html {
    font-size: 16px;
}

body {
    font-size: 15px;
}

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #F5F7F9;
    color: #242A31;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    line-height: 1em;
    width: 100%;
    height: 100%;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@media screen and (min-width: 769px) {

    html,
    body {
        /* PERF: https://marco.org/2012/11/15/text-rendering-optimize-legibility */
        text-rendering: optimizeLegibility;
    }
}

@page {
    margin: 2cm 1cm;
}

body>#root {
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    outline: none;
    box-sizing: inherit;
}

/*
MOBILE:
At least 16px to prevent zoom on mobile, when focusing inputs.
Setting this using Aphrodite does not work for mounting inputs.
So we declare these base size beforehand.
*/
input,
select,
textarea {
    font-size: 16px;
}

.content {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.allcols {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-transition: margin-bottom ease 200ms;
    -moz-transition: margin-bottom ease 200ms;
    transition: margin-bottom ease 200ms;
}

.container {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    width: 100%;
    min-height: 100vh;
    color: #242A31;
    background: #F5F7F9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 60px;
    }
}

.main {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 100%;
    color: #3B454E;
}

._zsli32 {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    background: #fff;
    border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
    z-index: 20;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    position: fixed;
    -webkit-flex: 0 60px;
    -ms-flex: 0 60px;
    flex: 0 60px;
    min-height: 60px;
    top: 0px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

@media print {
    ._zsli32 {
        display: none;
    }
}

@media screen and (min-width: 376px) {
    ._zsli32 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 769px) {
    ._zsli32 {
        display: none;
    }
}

.desktop-nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.nav {
    display: block;
    margin: 0px;
    padding: 0px;
}

._dahyzd {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    cursor: pointer;
    font-size: 24px;
    height: 42px;
    width: 42px;
    margin-left: -9px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    vertical-align: middle;
    outline: none;
}

._13gjrqj {
    vertical-align: middle;
}

.logo-container {
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

@media screen and (max-width: 768px) {
    .logo-container {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}

.logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    cursor: pointer;
    color: #3884FF;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-decoration: none;
    -webkit-align-items: center;
    align-items: center;
}

._hs5eseb {
    max-width: 100%;
    border-radius: 3px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}

._bf464ah {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-left: 16px;
    color: #242A31;
}

._1yvuev8f {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}

.menu-content {
    -ms-flex-item-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-self: stretch;
    align-self: stretch;
    padding: 0px 8px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto;
    -webkit-transition: -webkit-flex 0.2s, flex 0.2s, width 0.2s, opacity 0.2s;
    -moz-transition: flex 0.2s, width 0.2s, opacity 0.2s;
    transition: -ms-flex 0.2s, -webkit-flex 0.2s, flex 0.2s, width 0.2s, opacity 0.2s;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .menu-content {
        display: none;
    }
}

.menu-items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    white-space: nowrap;
}

._1vatlg2i {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    line-height: 1em;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    outline: none;
    border: 1px solid;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    text-decoration: none;
    border-color: transparent;
    background-color: transparent;
    height: 40px;
    padding: 0px 24px;
    color: #3884FF;
}

._1vatlg2i:disabled {
    opacity: 0.5;
    pointer-events: none;
}

._1vatlg2i:hover {
    color: undefined;
}

._unkj9rz {
    font-size: 16px;
    font-weight: 500;
    line-height: 1em;
}

.nav-outer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 24px;
}

@media screen and (max-width: 1024px) {
    .nav-outer {
        display: none;
    }
}

.nav-inner {
    display: block;
    margin: 0px;
    border-left: 1px solid #E6ECF1;
    padding: 0px;
}

.nav-overlay {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-left: 14px;
}

.search {
    border-radius: 3px;
    outline: none;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 1.625;
    font-weight: 400;
    border: none;
}

._1j1bywyx {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    border: none;
    outline: none;
    margin: 0px;
    width: 100%;
    color: inherit;
    background: transparent;
    font: inherit;
    text-align: inherit;
    line-height: inherit;
    cursor: inherit;
    resize: none;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 38px;
    padding: 0px 8px;
}

._1j1bywyx::placeholder {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #9DAAB6;
}

._jsgxo3b {
    -ms-flex-order: -1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 10px;
    line-height: 1.2;
    white-space: nowrap;
    -webkit-order: -1;
    order: -1;
    color: #242A31;
}

.nav-icons {
    display: block;
    margin: 0px;
    padding: 0px;
    line-height: 32px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    font-size: 20px;
    color: #74818D;
    text-align: center;
    margin-left: 8px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

@media screen and (min-width: 1025px) {
    .nav-icons {
        display: none;
    }
}

._k9gyjmg {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    background: #fff;
    border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
    z-index: 20;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    position: relative;
    -webkit-flex: 0 80px;
    -ms-flex: 0 80px;
    flex: 0 80px;
    min-height: 80px;
    padding-left: 24px;
    padding-right: 24px;
}

@media print {
    ._k9gyjmg {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    ._k9gyjmg {
        display: none;
    }
}

._pgthr0f {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 500;
}

.overlay {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

._lxdtjg2 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    pointer-events: none;
    -webkit-animation-name: none;
    animation-name: none;
    background-color: rgba(24, 48, 85, 0);
    z-index: 29;
}

@media screen and (min-width: 769px) {
    ._lxdtjg2 {
        z-index: 14;
    }
}

.sidebar {
    display: block;
    margin: 0px;
    padding: 0px;
    z-index: 30;
}

@media print {
    .sidebar {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .sidebar {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        z-index: 15;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        background: #F5F7F9;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: stretch;
        align-items: stretch;
        width: -webkit-calc((100% - 1448px) / 2 + 298px);
        width: -moz-calc((100% - 1448px) / 2 + 298px);
        width: calc((100% - 1448px) / 2 + 298px);
        min-width: 298px;
        padding-left: -webkit-calc((100% - 1448px) / 2);
        padding-left: -moz-calc((100% - 1448px) / 2);
        padding-left: calc((100% - 1448px) / 2);
        border-right: 1px solid #E6ECF1;
    }
}

.sidebar-outer {
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media screen and (max-width: 768px) {
    .sidebar-outer {
        position: fixed;
        z-index: 30;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        max-width: 298px;
        background-color: #fff;
        -webkit-transition: -webkit-transform 0.2s, transform 0.2s;
        -moz-transition: transform 0.2s;
        transition: -ms-transform 0.2s, -webkit-transform 0.2s, transform 0.2s;
        border-right: 1px solid #E6ECF1;
        -webkit-transform: translateX(-100%) !important;
        -ms-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        box-shadow: none;
    }
}

.sidebar-overlay {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    width: 100%;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.sidebar-inner {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    margin: 0px;
    padding: 0px;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar-container {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    background-color: #F5F7F9;
    overflow: auto;
    overflow-scrolling: touch;
}

.sidebar-container::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.sidebar-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .16);
}

.sidebar-content {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    padding-bottom: 24px;
}

.sidebar-mobile {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-bottom: 1px solid #d4dadf;
    color: #74818D;
    background-color: #FFFFFF;
    height: 59px;
    box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
}

@media screen and (min-width: 769px) {
    .sidebar-mobile {
        display: none;
    }
}

._1g8k7vl2 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin: 0px;
    padding: 8px 16px;
    font-size: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-desktop {
    font-size: 15px;
    margin-top: 32px;
    padding-left: 16px;
}

@media screen and (min-width: 769px) {
    .sidebar-desktop {
        padding-left: 24px;
    }
}

._hnaeki0 {
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    border-left: 1px solid transparent;
}

._1kea1wpt {
    display: block;
    margin: 0px;
    padding: 0px;
    margin-left: -1px;
}

._f1b38kq {
    -webkit-box-align: center;
    -ms-flex-align: center;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 7px 24px 7px 16px;
    border: 1px solid transparent;
    border-right: 0px;
    cursor: pointer;
}

._ib3ozv4 {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.current-tab {
    -webkit-box-align: center;
    -ms-flex-align: center;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 7px 24px 7px 16px;
    border: 1px solid transparent;
    border-right: 0px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-color: #E6ECF1 !important;
}

.current-tab:hover {
    background-color: #FFFFFF;
    border-color: #E6ECF1;
}

._w5h0i1q {
    display: block;
    color: #9DAAB6;
    font-size: 18px;
    line-height: 1;
    position: relative;
    padding: 8px;
    margin: -8px;
    margin-left: 0px;
    cursor: pointer;
}

._w5h0i1q:hover {
    color: #5C6975;
}

._1h9vumya {
    vertical-align: middle;
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

._1p0dphjd {
    -webkit-box-align: center;
    -ms-flex-align: center;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 7px 24px 7px 16px;
    border: 1px solid transparent;
    border-right: 0px;
    margin-bottom: 24px;
    cursor: pointer;
}

._r9nmoht {
    display: block;
    padding: 0px;
    margin: 16px;
}

._1f8j6abf {
    font-size: 40px;
    color: inherit;
    text-decoration: none;
}

._1f8j6abf:hover {
    color: #3884FF;
}

._7g6ljh {
    color: inherit;
    text-decoration: none;
}

._7g6ljh:hover {
    color: #3884FF;
}

._19lwgyb {
    color: inherit;
    text-decoration: none;
    padding-bottom: 0.1em;
    border-bottom: 1px solid;
}

._19lwgyb:hover {
    color: #3884FF;
}

._1ylaxsp {
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin: 0px;
    padding: 16px;
    color: #9DAAB6;
    background-color: #E6ECF1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 3px;
}

._1g6u33z3 {
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 16px;
}

._u2h5ph {
    font-size: 12px;
    line-height: 1.625;
    font-weight: 400;
}

.content-outer {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

.content-container {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    margin: 0px;
    padding: 0px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    max-width: 100%;
    padding-bottom: 64px;
}

.content-inner {
    display: block;
    padding: 0px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
    max-width: 750px;
    margin: 0px 16px;
}

@media screen and (min-width: 376px) {
    .content-inner {
        margin: 0px 24px;
    }
}

@media screen and (min-width: 1025px) {
    .content-inner {
        margin: 0px 88px;
    }
}

.content-intro {
    display: block;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #E6ECF1;
    margin-bottom: 32px;
}

.content-intro-outer {
    margin: 0px;
    padding: 40px 0px;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@media screen and (min-width: 769px) {
    .content-intro-outer {
        -webkit-box-lines: multiple;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: baseline;
        align-items: baseline;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.content-intro-inner {
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

._1mfk22u8 {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
}

._p1dtod5 {
    display: block;
    margin: 0px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-left: 2px solid #E6ECF1;
    padding: 0 16px;
}

._wjlth5 {
    width: 100%;
    display: block;
    margin: 0px;
    border: none;
    outline: none;
    background: none;
    border-radius: 3px;
}

._z8oeruf {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 500;
}

._1dwj0ez0 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 8px;
}

@media print {
    ._1dwj0ez0 {
        display: none;
    }
}

._1gl0l065 {
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 8px;
}

._kxb9lio {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@keyframes keyframe_1sh8tyy {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

._ohz2qgx {
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
}

._ohz2qgx:after {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 5px 8px;
    border-radius: 3px;
    background: #242A31;
    content: attr(aria-label);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.625;
    font-weight: 400;
    text-transform: none;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    -webkit-animation-name: keyframe_1sh8tyy;
    animation-name: keyframe_1sh8tyy;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    top: -webkit-calc(100% + 16px);
    top: -moz-calc(100% + 16px);
    top: calc(100% + 16px);
    bottom: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

._ohz2qgx:before {
    display: none;
    position: absolute;
    z-index: 101;
    content: "";
    border-style: solid;
    opacity: 0;
    -webkit-animation-name: keyframe_1sh8tyy;
    animation-name: keyframe_1sh8tyy;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    top: -webkit-calc(100% + 8px);
    top: -moz-calc(100% + 8px);
    top: calc(100% + 8px);
    bottom: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-left-width: 8px;
    border-top-width: 0px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-color: #242A31 transparent;
}

._ohz2qgx:hover:before {
    display: block;
}

._ohz2qgx:hover:after {
    display: block;
}

._102cybml {
    max-width: 100%;
    overflow: hidden;
    border-radius: 128px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    z-index: 0;
    box-shadow: 0 0 0 2px #fff;
}

._102cybml:nth-child(n+2) {
    margin-right: -8px;
}

._3e2jtqk {
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    color: #9DAAB6;
}

._ytwsykv {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 16px 0;
    margin: 0px -4px;
}

.intro-header {
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.intro-body {
    width: 100%;
    display: block;
    min-height: 19px;
    overflow-x: hidden;
    margin: 24px 0px 0px 0px;
    border: none;
    outline: none;
    background: none;
    border-radius: 3px;
    letter-spacing: 0.0em;
    color: #3B454E;
    resize: none;
}

.intro-body-content {
    font-size: 16px;
    line-height: 1.625;
    font-weight: 400;
}

._1shwqdkd {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-bottom: 40px;
}

@media screen and (min-width: 1225px) {
    ._1shwqdkd {
        display: none;
    }
}

._15pvv0lq {
    display: block;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 160;
    top: 16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.content-info {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
}

._1u3clsji {
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-bottom: -24px;
}

._1uc14g3 {
    position: relative;
    margin: 0px;
    margin-bottom: 24px;
    color: inherit;
}

._1lb91abp {
    -ms-flex-item-align: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    justify-self: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
    color: #242A31;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #E6ECF1;
    -webkit-transition: border ease 200ms;
    -moz-transition: border ease 200ms;
    transition: border ease 200ms;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    text-decoration: none;
    margin-top: 32px;
    margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
    ._1lb91abp {
        -webkit-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

._ba2t01w {
    cursor: pointer;
    color: #3884FF;
    text-decoration: underline;
}

._1mt6nbt7 {
    display: block;
    margin: 0px;
    color: #9DAAB6;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 24px;
    -webkit-transition: color ease 200ms;
    -moz-transition: color ease 200ms;
    transition: color ease 200ms;
    padding: 16px;
}

._1mt6nbt7:first-child {
    padding-right: 0px;
}

._1mt6nbt7:last-child {
    padding-left: 0px;
}

@media screen and (max-width: 1024px) {
    ._1mt6nbt7 {
        padding-bottom: 0px;
    }
}

._1e85jbgh {
    display: block;
    margin: 0px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 16px;
}

@media screen and (max-width: 1024px) {
    ._1e85jbgh {
        padding-bottom: 0px;
    }
}

._vjdxrk9 {
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-transition: color ease 200ms;
    -moz-transition: color ease 200ms;
    transition: color ease 200ms;
}

._1o3dmghf {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

._13pyewcs {
    display: block;
    margin: 0px;
    padding: 16px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

@media screen and (max-width: 1024px) {
    ._13pyewcs {
        width: 100%;
        padding-top: 0px;
        padding-left: 56px;
    }
}

._3egcedv {
    display: block;
    margin: 0px;
    padding: 0px;
    color: #9DAAB6;
}

._1jhzvirl {
    cursor: pointer;
    color: #3884FF;
    text-decoration: none;
}

._1jhzvirl:hover {
    text-decoration: underline;
}

._rrjh7ek {
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 64px;
}

@media print {
    ._rrjh7ek {
        display: none;
    }
}

._w85t8dz {
    display: block;
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
}

._bwg9qql {
    margin: 0px;
    padding: 0px;
    width: auto;
    display: grid;
    -ms-grid-template-columns:
        -webkit-calc(50% - 8px) -webkit-calc(50% - 8px);
    -ms-grid-template-columns:
        -moz-calc(50% - 8px) -moz-calc(50% - 8px);
    -ms-grid-template-columns:
        calc(50% - 8px) calc(50% - 8px);
    grid-template-columns:
        -webkit-calc(50% - 8px) -webkit-calc(50% - 8px);
    grid-template-columns:
        -moz-calc(50% - 8px) -moz-calc(50% - 8px);
    grid-template-columns:
        calc(50% - 8px) calc(50% - 8px);
    -ms-grid-template-rows: auto;
    grid-template-rows: auto;
    -ms-grid-column-gap: 24px;
    grid-column-gap: 24px;
}

@media screen and (max-width: 768px) {}

._15nqpp8i {
    -ms-flex-item-align: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    justify-self: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
    color: #242A31;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #E6ECF1;
    -webkit-transition: border ease 200ms;
    -moz-transition: border ease 200ms;
    transition: border ease 200ms;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    text-decoration: none;
}

._1qaae3nu {
    display: block;
    margin: 0px;
    color: #9DAAB6;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 24px;
    -webkit-transition: color ease 200ms;
    -moz-transition: color ease 200ms;
    transition: color ease 200ms;
    padding: 16px;
}

._1qaae3nu:first-child {
    padding-right: 0px;
}

._1qaae3nu:last-child {
    padding-left: 0px;
}

._y9smw1d {
    display: block;
    margin: 0px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 16px;
    text-align: right;
}

._5ukkxis {
    display: block;
    margin: 0px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 16px;
}

._19vzoehz {
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 224px;
    margin-right: auto;
}

@media print {
    ._19vzoehz {
        display: none;
    }
}

@media screen and (max-width: 1224px) {
    ._19vzoehz {
        display: none;
    }
}

._10qmvhe {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    padding-top: 40px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}