<div>
    <div class="nav">
        <div class="_hnaeki0">
            <div class="_1kea1wpt"><a class="current-tab" style="color:#3884FF" href="/"><span class="_ib3ozv4">About SomaLab</span></a></div>
        </div>
        <div class="_hnaeki0">
            <div class="_1kea1wpt"><a class="_f1b38kq" href="/"><span class="_ib3ozv4">Getting Started</span></a></div>
        </div>
        <div style="color:#9DAAB6;margin-left:16px;border-left-color:#E6ECF1;box-shadow:" class="_hnaeki0">
            <div class="_1kea1wpt">
                <a class="_f1b38kq" href="/"><span class="_ib3ozv4">Starting a Project</span>
                </a>
            </div>
        </div>
        <div style="color:#9DAAB6;margin-left:16px;border-left-color:#E6ECF1;box-shadow:" class="_hnaeki0">
            <div class="_1kea1wpt">
                <a class="_f1b38kq" href="/"><span class="_ib3ozv4">Testing your Code</span>
                </a>
            </div>
        </div>
        <div style="color:#9DAAB6;margin-left:16px;border-left-color:#E6ECF1;box-shadow:" class="_hnaeki0">
            <div class="_1kea1wpt">
                <a class="_f1b38kq" href="/"><span class="_ib3ozv4">Working on your Phone</span>
                </a>
            </div>
        </div>
        <div class="_hnaeki0">
            <div class="_1kea1wpt"><a class="_f1b38kq" href="/"><span class="_ib3ozv4">Upcoming Contests</span></a></div>
        </div>
        <div style="color:#9DAAB6;margin-left:16px;border-left-color:#E6ECF1;box-shadow:" class="_hnaeki0">
            <div class="_1kea1wpt">
                <a class="_f1b38kq" href="/"><span class="_ib3ozv4">Scoring</span>
                </a>
            </div>
        </div>
        <div style="color:#9DAAB6;margin-left:16px;border-left-color:#E6ECF1;box-shadow:" class="_hnaeki0">
            <div class="_1kea1wpt">
                <a class="_f1b38kq" href="/"><span class="_ib3ozv4">Rules</span>
                </a>
            </div>
        </div>
        <div style="color:#9DAAB6;margin-left:16px;border-left-color:#E6ECF1;box-shadow:" class="_hnaeki0">
            <div class="_1kea1wpt">
                <a class="_f1b38kq" href="/"><span class="_ib3ozv4">Review Submissions</span>
                </a>
            </div>
        </div>
        <div class="_hnaeki0">
            <div class="_1kea1wpt"><a class="_f1b38kq" href="/"><span class="_ib3ozv4">My Progress</span></a></div>
        </div>
        <div style="color:#9DAAB6;margin-left:16px;border-left-color:#E6ECF1;box-shadow:" class="_hnaeki0">
            <div class="_1kea1wpt">
                <a class="_f1b38kq" href="/"><span class="_ib3ozv4">Recommended Problems</span>
                </a>
            </div>
        </div>
        <div class="_hnaeki0">
            <div class="_1kea1wpt"><a class="_1p0dphjd" href="/"><span class="_ib3ozv4">FAQ</span></a></div>
        </div>
    </div>
</div>